openapi: 3.0.0
info:
  title: Commerce Project API
  description: 상품 조회, 검색, 주문 및 결제 기능을 제공하는 API
  version: 1.0.0
  contact:
    name: DEV
    email: aslanhobae@gmail.com

servers:
  - url: https://commerce.aslan.com/v1
    description: 운영 서버
  - url: https://localhost:8080/v1
    description: 로컬 환경

tags:
  - name: 상품
    description: 상품 관련 API
  - name: 주문&결제
    description: 주문 및 결제 관련 API

paths:
  /v1/products:
    get:
      tags:
        - 상품
      summary: 상품 리스트 조회 및 검색
      description: 상품 리스트를 조회하거나 검색합니다. 키워드를 입력하면 검색 기능으로 작동합니다. length 를 통해 페이지당 상품수를 설정 할수 있고 1~20까지의 값을 가질 수 있고 기본크기는 10입니다.
      parameters:
        - name: keyword
          in: query
          description: 검색 키워드
          required: false
          schema:
            type: string
          example: iPhone 16
        - name: start
          in: query
          description: Row 시작
          required: false
          schema:
            type: integer
            default: 1
          example: 1
        - name: length
          in: query
          description: Row 수(기본값 10)
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 20
          example: 10
        - name: min_price
          in: query
          description: 최소 가격
          required: false
          schema:
            type: integer
            minimum: 0
        - name: max_price
          in: query
          description: 최대 가격
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: 정렬 방식 (asc, desc)
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: 성공적으로 상품 목록을 조회함
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ProductListResponse'
        '400':
          description: 잘못된 요청 파라미터
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                invalidPageParam:
                  value:
                    error_code: INVALID_PAGE_PARAM
                    error_message: "페이지 번호는 1 이상이어야 합니다."
                    error_data:
                      page: 'invalid_page'
                invalidSizeParam:
                  value:
                    error_code: INVALID_SIZE_PARAM
                    error_message: "페이지당 상품 수는 1에서 20 사이여야 합니다."
                    error_data:
                      page: 'invalid_page'
                invalidPriceRange:
                  value:
                    error_code: INVALID_PRICE_RANGE
                    error_message: "최소 가격은 최대 가격보다 클 수 없습니다."
                    error_data:
                      price: 'min_price'
        '500':
          description: 서버 오류
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                serverError:
                  value:
                    error_code: INVALID_PAGE_PARAM
                    error_message: 'Invalid page param'
                    error_data:
                      page: 'invalid_page'

  /v1/products/{product_id}:
    get:
      tags:
        - 상품
      summary: 상품 상세 조회
      description: 상품 ID로 상세 정보를 조회합니다.
      parameters:
        - name: product_id
          in: path
          description: 조회할 상품 ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 성공적으로 상품 상세 정보를 조회함
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ProductDetail'
        '400':
          description: 잘못된 요청 파라미터
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                invalidPageParam:
                  value:
                    error_code: INVALID_TYPE_ID_PARAM
                    error_message: "product_id의 타입이 int가 아닙니다."
                    error_data:
                      product_id: "sample_string_type_text"
        '404':
          description: 존재하지 않는 상품
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                productNotFound:
                  value:
                    error_code: PRODUCT_NOT_FOUND
                    error_message: "해당 ID의 상품을 찾을 수 없습니다."
                    error_data:
                      product_id: 'product_id'
        '500':
          description: 서버 오류
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                serverError:
                  value:
                    error_code: SERVER_ERROR
                    error_message: "서버 내부 오류가 발생했습니다. 잠시 후 다시 시도해주세요."
                    error_data:
  /v1/orders:
    post:
      tags:
        - 주문&결제
      summary: 주문 생성
      description: 상품을 주문합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/Components/Schemas/OrderRequestV1'
      responses:
        '201':
          description: 주문이 성공적으로 생성됨
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/OrderRequestV1'
        '400':
          description: 잘못된 요청 파라미터
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                invalidQuantity:
                  value:
                    error_code: INVALID_QUANTITY
                    error_message: "주문 수량은 1 이상이어야 합니다."
                    error_data:
                      quantity: 'quantity'

                requiredFieldMissing:
                  value:
                    error_code: REQUIRED_FIELD_MISSING
                    error_message: "필수 입력 필드가 누락되었습니다."
                    error_data:
                      required: 'items.quantity'

                invalidPhoneFormat:
                  value:
                    error_code: INVALID_PHONE_FORMAT
                    error_message: "유효하지 않은 전화번호 형식입니다."
                    error_data:
                      phone: '1113333555'

                invalidZipcodeFormat:
                  value:
                    error_code: INVALID_ZIPCODE_FORMAT
                    error_message: "유효하지 않은 우편번호 형식입니다."
                    error_data:
                      zip_code: '23a4f'
        '404':
          description: 존재하지 않는 상품
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                productNotFound:
                  value:
                    error_code: PRODUCT_NOT_FOUND
                    error_message: "주문하려는 상품을 찾을 수 없습니다."
                    error_data:
                      product_id: 'product_id'
        '409':
          description: 재고 부족
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                insufficientStock:
                  value:
                    error_code: INSUFFICIENT_STOCK
                    error_message: "상품의 재고가 부족합니다."
                    error_data:
                      product_id: 'product_id'
        '500':
          description: 서버 오류
          content:
            application/json:
              schema:
                $ref: '#/Components/Schemas/ErrorResponse'
              examples:
                serverError:
                  value:
                    error_code: SERVER_ERROR
                    error_message: "서버 내부 오류가 발생했습니다. 잠시 후 다시 시도해주세요."
                    error_data:
Components:
  Schemas:
    ProductListResponse:
      type: object
      properties:
        total_items:
          type: integer
          description: 전체 상품 수
          example: 1256
        total_pages:
          type: integer
          description: 전체 페이지 수
          example: 63
        current_page:
          type: integer
          description: 현재 페이지 번호
          example: 1
        products:
          type: array
          description: 상품 목록
          items:
            $ref: '#/Components/Schemas/ProductSummary'

    ProductSummary:
      type: object
      properties:
        id:
          type: integer
          description: 상품 ID
          example: 12345
        name:
          type: string
          description: 상품명
          example: "프리미엄 머그컵"
        price:
          type: integer
          description: 상품 가격
          example: 15000
        image_url:
          type: string
          description: 이미지 URL
          example: "https://example.com/images/products/12345.jpg"
        stock_quantity:
          type: integer
          description: 재고 수량
          example: 150

    ProductDetail:
      type: object
      properties:
        id:
          type: integer
          description: 상품 ID
          example: 12345
        name:
          type: string
          description: 상품명
          example: "프리미엄 머그컵"
        price:
          type: integer
          description: 상품 가격
          example: 15000
        image_url:
          type: string
          description: 이미지 URL
          example: "https://example.com/images/products/12345.jpg"
        stock_quantity:
          type: integer
          description: 재고 수량
          example: 150

    OrderRequest:
      type: object
      required:
        - items
        - shippingAddress
        - receiverInfo
      properties:
        items:
          type: array
          description: 주문 상품 목록
          items:
            type: object
            required:
              - productId
              - quantity
            properties:
              product_id:
                type: integer
                description: 상품 ID
                example: 12345
              quantity:
                type: integer
                description: 수량
                example: 2
        shipping_address:
          type: object
          required:
            - zip_code
            - address
            - address_detail
          properties:
            zip_code:
              type: string
              description: 우편번호
              example: "06164"
            address:
              type: string
              description: 기본 주소
              example: "서울특별시 강남구 테헤란로 123"
            address_detail:
              type: string
              description: 상세 주소
              example: "456동 789호"
        receiver_info:
          type: object
          required:
            - name
            - phone
          properties:
            name:
              type: string
              description: 수령인 이름
              example: "홍길동"
            phone:
              type: string
              description: 연락처
              example: "010-1234-5678"
        memo:
          type: string
          description: 배송 메모
          example: "부재시 경비실에 맡겨주세요"

    OrderResponse:
      type: object
      properties:
        order_id:
          type: string
          description: 주문 ID
          example: "ORD20240406123456"
        order_date:
          type: string
          format: date-time
          description: 주문 일시
          example: "2025-04-06T15:30:45Z"
        status:
          type: string
          description: 주문 상태
          example: "PENDING_PAYMENT"
          enum: [ PENDING, PAID, CANCELLED, PAYMENT_FAILED, PAMENT_ERROR, EXPIRED ]
        items:
          type: array
          description: 주문 상품 목록
          items:
            type: object
            properties:
              product_id:
                type: integer
                description: 상품 ID
                example: 12345
              product_name:
                type: string
                description: 상품명
                example: "프리미엄 머그컵"
              quantity:
                type: integer
                description: 수량
                example: 2
              price:
                type: integer
                description: 개당 가격
                example: 15000
        shipping_address:
          type: object
          properties:
            zip_code:
              type: string
              description: 우편번호
              example: "06164"
            address:
              type: string
              description: 기본 주소
              example: "서울특별시 강남구 테헤란로 123"
            address_detail:
              type: string
              description: 상세 주소
              example: "456동 789호"
        receiverInfo:
          type: object
          properties:
            name:
              type: string
              description: 수령인 이름
              example: "홍길동"
            phone:
              type: string
              description: 연락처
              example: "010-1234-5678"
        memo:
          type: string
          description: 배송 메모
          example: "부재시 경비실에 맡겨주세요"
        total_product_amount:
          type: integer
          description: 상품 금액 합계
          example: 30000
        total_shipping_amount:
          type: integer
          description: 배송비 합계
          example: 3000
        payment_amount:
          type: integer
          description: 최종 결제 금액
          example: 33000
        payment_due_date:
          type: string
          format: date-time
          description: 결제 마감 시간
          example: "2025-04-06T16:30:45Z"
        kakao_pay_readyUrl:
          type: string
          description: 카카오페이 결제 준비 URL
          example: "https://online-pay.kakao.com/mockup/v1/1d61e5d6..."

    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: 에러 코드
          enum:
            - INVALID_PRICE_RANGE    # 유효하지 않은 가격 범위
            - INVALID_PAGE_PARAM     # 유효하지 않은 페이지 파라미터
            - INVALID_SIZE_PARAM     # 유효하지 않은 사이즈 파라미터
            - PRODUCT_NOT_FOUND      # 상품을 찾을 수 없음
            - SERVER_ERROR           # 서버 오류
            - INVALID_TYPE_ID_PARAM  # 잘못된 파라미터 요청
            - INVALID_QUANTITY       # 잘못된 주문수량 요청
            - REQUIRED_FIELD_MISSING # 필수 요청값 누락
            - INVALID_PHONE_FORMAT   # 잘못된 형식의 핸드폰 번호 입력
            - INVALID_ZIPCODE_FORMAT # 잘못된 형식의 우편번호 입력
            - PRODUCT_NOT_FOUND      # 존재하지 않는 상품 요청
            - INSUFFICIENT_STOCK     # 상품 재고 부족
          example: "INVALID_QUANTITY"
        error_message:
          type: string
          description: 에러 메시지
          example: "주문 수량은 1 이상이어야 합니다."
        error_data:
          type: string
          description: 에러 항목(요청값)

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []